/* Map.css */
.map-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .map-popup {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  