@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    
} */

*,
*::before,
*::after {
    /* outline: solid hsl(0 0% 0% / 0.5); */
    box-sizing: border-box;
}
#root {
    padding: 0;
}


body {
    min-height: 100vh;
    outline: solid;
    background: #EDF6F9;
    background: #F8F7FF;

    font-family: "Oswald", sans-serif;
}

.adminWrapper {
    /* width: 100%; */
    isolation: isolate;
}
.adminNavButton {
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        inset: -3rem;
        background: #9381FF;
        z-index: -1;
        transform: skewY(35deg) translateY(-100%);
        transition: 0.5s ;
    }
    &:hover {
        color: white;
        background: transparent;
    }
    &:hover::after {
        transform: skewY(35deg) translateY(0);
        outline: solid #9381FF;
    }
}

.admin_container2 {
    width: min(1024px, 100% - 1rem);
    margin-inline: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    color: white;

    margin: 20px auto;
    background: #323232;
    border-collapse: collapse;
}

caption, th, td {
    padding: 0.25rem ;
    text-align: left;
}

th,td {
    font-size: 1.25rem;
}

tr:nth-child(even) {
    background-color: hsl(0 0% 0% / 0.1);
}

caption {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
table button {
    padding: 0.5rem 1rem;
    background: hsl(0 0% 50%);
    border-radius: 1rem;
}